@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .scroll {
      width: 40px;
      height: 40px;
      /* border: 2px solid #333; */
      border-radius: 50%;
      position: relative;
      animation: down 1.5s infinite;
      -webkit-animation: down 1.5s infinite;
  }
  
  .scroll::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  }
    
  
  @keyframes down {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translateY(15px);
    }

    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translateY(15px);
    }

    40% {
      transform: translate(0);
    }
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInSection {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}


/* 
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 30;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */